.form-wrap {
  margin: 0 auto;
}
.form-title {
  text-align: center;
}

.input-wrap p {
  margin-top: 30px;
}

form {
  width: 80%;
}

.submit-button {
  text-align: center;
  margin-right: 10%;
}

.text-input {
  width: 80%;
  height: 48px;
  border: 2px solid #eceaec;
  border-radius: 5px;
  margin-bottom: 8px;
  padding:0 16px;
}

form span {
  background-color: red;
  border-radius: 5px;
  line-height: 1;
  padding: 3px 5px;
  color: #ffffff;
}

form p {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-signup-button {
  color: #ffffff;
  font-weight: bold;
  background-color: #3da9fc;
  border: 0px;
  width: 100px;
  height: 40px;
  border-radius: 100px;
}
